$breakpoint-xs: 640px;
$breakpoint-sm: 1024px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1400px;

// Điện thoaị
@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

// Ipad
@mixin media-sm {
  @media (min-width: $breakpoint-xs + 1px) and (max-width: $breakpoint-sm) {
    @content;
  }
}

// Laptop
@mixin media-md {
  @media (min-width: $breakpoint-sm + 1px) and (max-width: $breakpoint-md) {
    @content;
  }
}

// Màn hình lớn
@mixin media-lg {
  @media (min-width: $breakpoint-md + 1px) and (max-width: $breakpoint-lg) {
    @content;
  }
}
