* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  background-color: #ecf0f0;
  line-height: 1.6;
  color: #1a1a1a;

  main {
    display: none;
  }

  section {
    display: none;
  }

  footer {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
