* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  background-color: #ecf0f0;
  line-height: 1.6;
  color: #1a1a1a;

  main {
    .our-solutions-section {
      display: none;
    }

    .clients-feedback {
      display: none;
    }

    .need-help-section {
      display: none;
    }

    .get-in-touch {
      display: none;
    }

    .insight-ideas {
      display: none;
    }

    .proud-projects {
      display: none;
    }
  }

  .cta-footer {
    display: none;
  }

  footer {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-gap-x {
  margin-left: 20px;
  margin-right: 20px;
}

.section-gap-y {
  padding-top: 120px;
  padding-bottom: 120px;
}