@use "icons";
@use "reset";
@use "section/header";
@use "section/recognized";
@use "section/expertise";
@use "section/our-solutions";
@use "section/proud-projects";
@use "section/clients-feedback";
@use "section/need-help";
@use "section/in-touch";
@use "section/insight-ideas";
@use "section/footer";
@use "section/aside";