/* Thiết lập chung cho Aside - Trạng thái Đóng (Menu ẩn) */
.sidebar-right {
  position: fixed;
  z-index: 9999;
  width: 470px;
  height: calc(100% - 30px);
  background-color: #0c1e21;
  color: white;
  top: 15px;
  right: 0;

  border-radius: 12px;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      background: #1e8a8a;
      opacity: 0.3;
      z-index: -1;
      border-radius: 50%;
      filter: blur(50px);
      backdrop-filter: blur(10px);
      right: 3%;
      top: 12%;
    }

    &-top {
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        img {
          max-width: 136px;
        }

        span {
          cursor: pointer;
          svg {
            width: 35px;
            height: 35px;
            transition: transform 0.3s ease;
          }

          &:hover {
            transform: rotate(90deg);
            transition: transform 0.3s ease;
          }
        }
      }

      &-description {
        color: #a9b8b8;
        margin-bottom: 40px;
      }

      &-title {
        font-size: 22px;
        color: #ffffff;
        margin-bottom: 20px;
      }

      &-search {
        display: flex;
        align-items: center;
        width: 390px;
        height: 60px;
        padding-left: 24px;
        background: #ffffff;
        border-radius: 10px;
        border: 1px solid #c9d1d1;
        margin-bottom: 45px;

        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background: transparent;
          font-size: 18px;
          color: #0c1e21;

          &::placeholder {
            color: rgba(12, 30, 33, 0.45);
          }
        }

        &-btn {
          width: 76px;
          height: 100%;
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;
          transition: background 0.2s ease;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #d8e3ec;
          }

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      &-contact {
        &-title {
          color: #ffffff;
          font-size: 22px;
        }

        &-item {
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;

          span:first-child {
            color: #a9b8b8;
            font-size: 14px;
            margin-bottom: 7px;
          }
        }

        &-item:nth-child(3) {
          padding-top: 15px;
          padding-bottom: 10px;
        }

        &-item:last-child {
          padding-top: 15px;
          padding-bottom: 10px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    &-footer {
      &-title {
        color: #ffffff;
        font-size: 22px;
        margin-bottom: 25px;
      }

      &-social {
        ul {
          display: flex;
          padding-left: 0;
          gap: 10px;
          margin-bottom: 0;

          li {
            list-style: none;

            a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: #556264;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              transition: transform 0.3s ease, background-color 0.3s ease;

              i {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 16px;
                color: #0c1e21;
              }

              &:hover {
                background-color: #1e8a8a;
                transform: translateY(-3px);

                i {
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-right.opened {
  transform: translateX(0);
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  inset-inline-start: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  backdrop-filter: blur(10px);
}

.overlay.opened {
  opacity: 1;
  visibility: visible;
}