@use "../media-queries" as *;

.recognized {
  &-content {
    &-header {
      text-align: center;
      justify-content: center;
      &-title {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        color: #0c1e21;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 700;
        border: 1px dashed #c9d1d1;
        padding: 2px 10px;
        margin-bottom: 20px;
        border-radius: 4px;

        i {
          font-size: 22px;
          color: #1e8a8a;

          &::before {
            content: "\e90d";
            font-family: "bexon-icons" !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }

      &-text {
        margin: 0 auto;
        font-size: 48px;
        color: #0c1e21;

        .highlight {
          color: #1e8a8a;
        }
      }
    }

    &-card {
      margin-top: 40px;
      display: flex;
      gap: 25px;

      &-item {
        width: 416px;
        height: auto;
        background-color: #fff;
        border-radius: 12px;
        transition: background-color 0.6s ease;

        &-content {
          padding: 50px 28px 45px 28px;

          i {
            color: #1e8a8a;
            transition: color 0.6s ease;
            display: inline-block;

            &::before {
              font-size: 88px;
              content: "\e930";
              font-family: "bexon-icons" !important;
              speak: never;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
          }

          h3 {
            margin-top: 43px;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 600;
            transition: color 0.6s ease;
          }

          p {
            margin-bottom: 0;
            font-size: 16px;
            color: #364e52;
            transition: color 0.6s ease;
          }
        }

        &:nth-child(2) {
          .recognized-content-card-item-content {
            i {
              &::before {
                content: "\e908";
              }
            }
          }
        }

        &:last-child {
          .recognized-content-card-item-content {
            i {
              &::before {
                content: "\e90a";
              }
            }
          }
        }

        &:hover {
          background-color: #1e8a8a;

          .recognized-content-card-item-content {
            i {
              color: #fff;
              animation: gelatine 0.6s;
            }

            h3 {
              color: #fff;
            }

            p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

// Mobile styles
@include media-xs {
  .recognized {
    padding: 70px 0;
    &-content {
      margin-left: 20px;
      margin-right: 20px;
      &-header {
        &-title {
          // font-size: 30px;
        }
        &-text {
          font-size: 30px;
        }
      }
      &-card {
        flex-direction: column;
        margin-top: 40px 0;

        &-item {
          width: 100%;

          &-content {
            padding: 30px 15px;

            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// Ipad styles
@include media-sm {

    .recognized {
        &-content {
            &-card {
                flex-direction: column;

                &-item {
                    &-content {
                        padding: 40px 20px;

                        i {
                            &::before {
                                font-size: 66px;
                            }
                        }
            

                        h3 {
                            margin-top: 20px;
                            margin-bottom: 10px;
                        }
                    }
                    width: 100%;
                }
            }
        }
    }
}
