@use "../media-queries" as *;

// Animation gelatine
@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.7, 1.1);
  }
  50% {
    transform: scale(1.1, 0.7);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.search_popup {
  display: none;
  position: absolute;
  width: 98%;
  background-color: #ffffff;
  height: auto;
  padding: 80px 0;
  margin-left: 20px;
  margin-right: 20px;
  // bo 4 góc
  border-radius: 12px;
  border-top: 1px solid #d8e3ec;

  .search-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 856px;
    height: 60px;
    padding-left: 24px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #c9d1d1;
    margin: 0 auto;

    .search-form-input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      color: #0c1e21;

      &::placeholder {
        color: rgba(12, 30, 33, 0.45);
      }
    }

    .search-submit-btn {
      width: 76px;
      height: 100%;
      border: none;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      transition: background 0.2s ease;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
        bottom: 12px;
        width: 1px;
        background: #d8e3ec;
      }

      svg {
        width: 25px;
        height: 25px;
        color: #1e8a8a;
      }
    }
  }

  &.search-opened {
    display: block;
    transform: translateY(0%);
  }
}

header {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 10;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding-left: 30px;
    padding-right: 30px;

    .logo {
      a {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
      }

      img {
        width: 136px;
        height: auto;
      }

      &-text {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333333;
      }
    }

    .nav-menu {
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: #0c1e21;
          text-decoration: none;
          transition: color 0.3s ease;
        }

        svg {
          width: 18px;
          height: 18px;
          color: #333333;
          transition: color 0.3s ease, transform 0.3s ease;
        }

        &:hover {
          a,
          svg {
            color: #1e8a8a;
          }

          svg {
            transform: rotate(-180deg);
          }
        }

        &.active {
          a,
          svg {
            color: #1e8a8a;
          }
        }
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .search-btn {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #ecf0f0;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        svg {
          width: 18px;
          height: 18px;
          color: #333333;
          transition: transform 0.3s ease;

          &:hover {
            animation: gelatine 0.6s;
          }
        }
      }

      .btn-lets-talk {
        padding: 5px 5px 5px 25px;
        background-color: #1e8a8a;
        font-weight: 600;
        color: #ffffff;
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease-in-out 0s;

        .btn-lets-talk-text {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          line-height: 1;

          span {
            display: flex;
            line-height: 1;
            text-shadow: 0 30px 0;
            backface-visibility: hidden;
            transform: translateY(0);
            transition: transform 0.4s ease-in-out;

            &:nth-child(2) {
              transform: translateY(-30px);
            }
          }
        }

        &:hover {
          .btn-lets-talk-text {
            span:first-child {
              transform: translateY(-30px);
            }

            span:nth-child(2) {
              transform: translateY(0);
            }
          }
        }

        .btn-icon-wrapper {
          background-color: #0c1e21;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          transition: background-color 0.3s ease;

          svg {
            color: #ffffff;
            width: 20px;
            height: 20px;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
          }
        }

        &:hover {
          svg {
            transform: rotate(45deg);
            transition: transform 0.3s ease;
          }
        }
      }

      .hamburger-menu {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;

        width: 25px;
        height: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        span {
          display: block;
          height: 2px;
          background-color: #333;
          border-radius: 2px;
          transition: all 0.3s ease;
          margin: 0;
        }

        span:first-child,
        span:last-child {
          width: 100%;
        }
        span:nth-child(2) {
          width: 60%;
        }
      }

      &:hover {
        .hamburger-menu {
          span:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
  }
}

// Mixin để tái sử dụng cho mobile và tablet
@mixin mobile-header-styles {
  header {
    .header-container {
      .nav-menu {
        display: none;
      }

      .header-actions {
        .search-btn,
        .btn-lets-talk {
          display: none;
        }

        .hamburger-menu {
          width: 50px;
          height: 50px;
          background-color: #1e8a8a;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-left: 15px;
          gap: 5px;

          span {
            display: block;
            height: 2px;
            background-color: #ffffff;
            border-radius: 2px;
            transition: all 0.3s ease;
            margin: 0;
          }

          span:first-child,
          span:last-child {
            width: 20px;
          }
          span:nth-child(2) {
            width: 10px;
          }
        }
      }
    }
  }
}

@include media-xs {
  @include mobile-header-styles;
}

@include media-sm {
  @include mobile-header-styles;
}
