.get-in-touch {
  background-color: #0c1e21;
  border-radius: 12px;
  padding-top: 120px;
  padding-bottom: 120px;

  .get-in-touch-content {
    display: flex;
    width: 100%;

    .get-in-touch-left {
      width: 50%;
    }

    .get-in-touch-right {
      width: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 12px;

      h3 {
        font-size: 14px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: 1px dashed #c9d1d1;
        padding: 2px 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        max-width: 150px;
        display: flex;
        justify-content: flex-end;
      }

      .get-in-touch-right-wrapper {
        padding: 50px 60px;
        .get-in-touch-right-wrapper-title {
          h1 {
            color: #ffffff;

            span {
              color: #1e8a8a;
            }
          }

          #form-contact {
            .form-group {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 24px 20px;

              .btn-submit {
                display: flex;
                padding: 10px 5px 10px 25px;
                background-color: #1e8a8a;
                border: 0;
                border-radius: 50px;
                transition: background-color 0.3s ease;
                max-width: 200px;
                margin-top: 20px;

                .btn-text {
                  color: #ffffff;
                  font-weight: 700;
                  font-size: 16px;
                  margin-right: 10px;
                }

                .btn-icon {
                  background-color: #333333;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 24px;
                  height: 24px;
                  transition: background-color 0.3s ease;
                  padding: 5px;

                  svg {
                    color: #ffffff;
                    width: 29px;
                    height: 29px;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                  }
                }
              }

              &:hover {
                .btn-icon {
                  svg {
                    transform: rotate(45deg);
                    transition: transform 0.3s ease;
                  }
                }
              }
            }

            input,
            select,
            textarea {
              border: 0;
              background-color: transparent;
              color: #a9b8b8;
              padding: 11px 0;
              border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }

            .form-group input[name="name"] {
              grid-column: 1;
            }

            .form-group input[name="email"] {
              grid-column: 2;
            }

            .form-group input[name="phone"] {
              grid-column: 1;
            }

            .form-group select[name="subject"] {
              grid-column: 2;
              appearance: none;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a9b8b8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-position: right center;
              padding-right: 30px;
            }

            .form-group textarea[name="message"] {
              grid-column: 1 / -1;
              height: 150px;
            }
          }
        }
      }
    }
  }
}