.insight-ideas {
  .insight-ideas-content {
    padding-top: 120px;
    padding-bottom: 120px;

    .insight-ideas-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 14px;
        font-weight: 700;
        color: #0c1e21;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: 1px dashed #c9d1d1;
        padding: 2px 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        max-width: max-content;
      }

      h1 {
        font-size: 48px;
        color: #0c1e21;

        span {
          color: #1e8a8a;
        }
      }
    }

    .insight-ideas-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 20px;

      .insight-ideas-card-item {
        position: relative;

        .insight-ideas-card-item-date {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.1);
          padding: 20px;
          border-radius: 6px;
          text-align: center;
          backdrop-filter: blur(10px);
          position: absolute;
          top: 15px;
          left: 15px;
          color: #ffffff;

          &-day {
            display: block;
            font-size: 32px;
            color: #ffffff;
            font-weight: 500;
            letter-spacing: -0.96px;
            margin-bottom: 8px;
            line-height: 1;
          }

          &-month {
          }
        }

        img {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }

        &-content {
          background-color: #fff;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;

          &-inner {
            padding-top: 25px;
            padding-bottom: 35px;
            padding-left: 28px;
            padding-right: 28px;

            &-wrapper {
              display: flex;

              &-tag {
                a {
                  border: 1px solid #c9d1d1;
                  font-size: 16px;
                  line-height: 1;
                  color: #1a1a1a;
                  font-weight: 500;
                  padding: 2px 7px 4px;
                  display: inline-flex;
                  overflow: hidden;
                  border-radius: 4px;
                  backdrop-filter: blur(15px);
                  margin-right: 10px;
                }
                &:hover {
                  a {
                    background-color: #1e8a8a;
                  }
                }
              }

              p {
                color: #67787a;
                span {
                  color: #1a1a1a;
                }

                &:hover {
                  span {
                    color: #1e8a8a;
                    cursor: pointer;
                  }
                }
              }
            }

            .insight-ideas-card-item-title {
              display: inline;
              text-decoration: none;
              color: #0c1e21;
              font-size: 24px;
              font-weight: 600;
              margin-top: 12px;

              background-image: linear-gradient(to left, #000000, #000000);
              background-repeat: no-repeat;
              background-position: 0 100%;
              background-size: 0 2px;
              transition: background-size 1.2s ease;

              &:hover {
                background-size: 100% 2px;
              }
            }

            a {
              color: #0c1e21;
              font-size: 16px;
              font-weight: 600;

              span {
                background-color: #333333;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                transition: background-color 0.3s ease;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                margin-top: 20px;

                svg {
                  color: #ffffff;
                  width: 16px;
                  height: 16px;
                  transform: rotate(0deg);
                  transition: transform 0.3s ease;
                }
              }
            }

            a:hover {
              span {
                background-color: #1e8a8a;
                svg {
                  transform: rotate(45deg);
                  transition: transform 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
